<section class="about">
	<div class="breads">
		<div class="container">
			<span routerLink="/" style="cursor: pointer;">Главная</span> > О нас
		</div>
	</div>
	<div class="container">
		<h1>О нас</h1>

		<div class="about-img">
			<img src="http://www.khorgosgateway.kz/images/1.jpg" alt="">
		</div>
		
		<div class="row">
			<div class="c">
				<h2>Some Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis nihil porro magnam corporis quaerat voluptatibus soluta facere nesciunt autem quod sit alias sint explicabo nostrum dolore ipsa, aliquid adipisci?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quidem voluptas sit voluptatum, fugiat cumque iste odio officia possimus nemo nihil aliquid, fuga ut repellendus laborum, fugit accusantium a doloribus!</p>
			</div>
			<div class="c">
				<h2>Some Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos perspiciatis nihil porro magnam corporis quaerat voluptatibus soluta facere nesciunt autem quod sit alias sint explicabo nostrum dolore ipsa, aliquid adipisci?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quidem voluptas sit voluptatum, fugiat cumque iste odio officia possimus nemo nihil aliquid, fuga ut repellendus laborum, fugit accusantium a doloribus!</p>
			</div>
		</div>
	</div>
</section>

<section class="info">
	<div class="container">
		<div class="threeb">
			<img src="assets/img/cart.png" alt="">
			<h3>More than 2000 + items</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/man.png" alt="">
			<h3>1.5 Millions User</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/heart.png" alt="">
			<h3>98% Customer Feeback</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
	</div>
</section>