<section class="about">
	<div class="breads">
		<div class="container">
			<span routerLink="/" style="cursor: pointer;">Главная</span> > Программа возврата
		</div>
	</div>
	<div class="container">
		<h1>Как вернуть товар в интернет-магазин</h1>

		<div class="about-img">
			<img src="assets/img/dd1.jpg" alt="">
		</div>
		
		<div class="content">
			<p>Купить товар в интернет-магазине — это просто и быстро, но как насчет возврата? Если с оффлайновыми магазинами всё понятно: пришел, поругался (может быть) и вернул товар, то с торгующими сайтами, база которых находится в другом городе, процесс возврата выглядит более сложным.</p>
			<p>На самом деле, вернуть товар в интернет-магазин достаточно просто, особенно если знать законодательную базу и точно соблюдать все правила.</p>
			<p>Всё, что нужно для возврата товара в интернет-магазин прописано в Законе о Защите Прав Потребителя. В статье №26.1 под названием «Дистанционный способ продажи товара» определены все правила продажи, которые обязан соблюдать каждый интернет-магазин (оригинальный текст можно прочитать здесь):</p>
			<p><b>1.</b> Продавец предоставляет вам каталоги, буклеты, фотки, видео — всё, через что можно показать вам товар на сайте. После этого вы заключаете с ним договор купли-продажи.</p>
			<p><b>2.</b> Ещё до того, как вы заключили с ним договор, продавец должен рассказать вам:</p>
			<ul>
				<li>что это за товар и какие у него свойства;</li>
				<li>где находится сам продавец (его адрес);</li>
				<li>как называется его фирма;</li>
				<li>сколько стоит товар и на каких условиях его можно приобрести;</li>
				<li>срок службы и годности товара, а также его гарантийный срок;</li>
				<li>как нужно оплачивать товар;</li>
				<li>до какого времени можно заключить договор.</li>
			</ul>
			<p>Как правило, всё это предоставляется в интернет-магазине. Если нет, то можете потребовать, чтобы предоставили, сославшись на закон.</p>
		</div>
	</div>
</section>

<section class="info">
	<div class="container">
		<div class="threeb">
			<img src="assets/img/cart.png" alt="">
			<h3>More than 2000 + items</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/man.png" alt="">
			<h3>1.5 Millions User</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/heart.png" alt="">
			<h3>98% Customer Feeback</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
	</div>
</section>