section.body {
    background: #f6f6f6;
}
span.allC {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 14px;
    color: #777777;
    border-right: 1px solid #b8b8b8;
    padding-left: 13px;
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
}

.search input {
    border: 1px solid #b8b8b8;
    padding: 14px;
    outline: none;
    border-radius: 7px;
    padding-left: 135px;
    font-size: 14px;
    line-height: 20px;
    min-width: 450px;
    padding-right: 50px;
    background: #fff url(/assets/img/search.png) 95% center no-repeat;
}

section.breads {
    background: #fafafa;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0;
    font-size: 18px;
}

section.breads ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
}

section.breads b {
    font-size: 16px;
    color: #404040;
    font-weight: 700;
}

ul.left-nav {
    font-size: 15px;
    line-height: 14px;
    float: left;
    position: relative;
    width: 280px;
    min-height: 200px;
}

ul.left-nav li {
    border: 1px solid #f2f2f2;
    margin-top: -1px;
    color: #3e3e3e;
    font-weight: 500;
    background: #fff;
}

.nav-main-cat {
    padding: 12px 20px;
    display: block;
}

ul.left-nav li:hover{
    background: #95bf47;
    color: #fff;
}

.lef-banner {
    float: left;
    position: relative;
    min-height: 385px;
    background: #eef7f6;
}

.banner-btn {
    position: absolute;
    left: 7%;
    bottom: 10%;
    border: 1px solid #7b7b7b;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #3e3e3e;
    border-radius: 5px;
    transition: all .1s ease-out;
}

.banner-btn:hover {
    background: #ff2f39;
    color: #fff;
    border-color: #ff2f39;
}

.right-banner{
    float: right;
    margin-top: 10px;
}

section.body-c ul {
    display: flex;
    justify-content: space-between;
}

section.body-c {
    position: relative;
    overflow: hidden;
    clear: both;
}

section.body-c li {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    text-align: center;
    padding: 20px 30px;
    width: 15%;
    margin: 20px 0;
    cursor: pointer;
}

section.body-c li:hover{
    border-color: #ff2f39;
}

.login-register {
    float: right;
    cursor: pointer;
}

.login-register p {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 12px;
}

.login-register img {
    vertical-align: middle;
    padding-left: 10px;
}

.login-register span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.arrow:after{
    content: url(/assets/img/arrow.png);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.bb-d{
    position: relative;
    overflow: hidden;
}

.banner-d{
    min-height: 230px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
}

.banner1{
    width: 66%;
    float: left;
}

.banner1 .banner-btn{
    left: inherit;
    right: 5%;
}

.banner2{
    width: 32%;
    float: right;
}

.p-c-body {
    position: relative;
    overflow: hidden;
}

.pp-ban {
    float: left;
    width: 32%;
}

.pp-ban img{
    border-radius: 5px;
}

.p-c-products {
    /*float: right;
    width: 67%;*/
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.p-c-products .item {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    text-align: center;
    padding: 20px 30px;
    width: 22%;
    margin-left: 1%;
    cursor: pointer;
    float: left;
}


.product-image {
    width: 225px;
    height: 225px;
}

.p-c-products .item p{
    font-size: 16px;
    margin-bottom: 20px;
}

.p-c-products .item img{
    max-width: 100%;
}

.product-category h1{
    font-size: 30px;
    color: #3e3e3e;
    margin-top: 0;
}

ul.left-nav i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 9px;
    color: #ccc;
}

ul.left-nav li:hover i{
    color: #fff;
}


.left-nav-content {
    position: absolute;
    left: 100%;
    z-index: 999;
    background: #fff;
    top: 0;
    width: 720px;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    display: none;
    padding-top: 10px;
}

.left-nav-content-box {
    display: inline-block;
    line-height: 1.2;
    width: 25%;
}

ul.left-nav li:hover .left-nav-content{
    display:block;
}

.left-nav-content-box h2 {
    font-size: 16px;
    font-weight: 600;
    color: #6f6868;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.left-nav-content a:hover{
    color: #ff2f39;
}

@media (max-width: 600px){
    section.breads{
        display: none;
    }
    ul.left-nav {
        width: 100%;
    }

    .right-banner {
        display: none;
    }

    .banner-d {
        width: 100%;
        float: none;
    }
    .pp-ban {
        display: none;
    }

    .p-c-products {
        width: 100%;
    }

    .p-c-products .item{
        width: 48%;
        margin: 1%;
    }
    .lef-banner{
        min-height: inherit;
    }
}