<section class="breads">
  <div class="container">
    <ul>
      <li  routerLink="/category/3">Смотреть все категории</li>
      <li  routerLink="/category/3"><b>Новые поступления</b></li>
      <li  routerLink="/category/3"><b>Горячие товары</b></li>
      <li  routerLink="/category/3"><b>Часто покупаемые товары</b></li>
    </ul>
  </div>
</section>


<section class="body">
  <div class="container">
    <div class="body-top">
      <ul class="left-nav">
        <li routerLink="/category/3"><i class="flaticon-women-vest"></i> Женская одежда и аксессуары</li>
        <li routerLink="/category/4"><i class="flaticon-shirt"></i> Мужская одежда и аксессуары</li>
        <li routerLink="/category/5"><i class="flaticon-smartphone"></i> Телефоны и телекомуникации</li>
        <li routerLink="/category/6"><i class="flaticon-baby"></i> Мамам и малышам</li>
        <li routerLink="/category/7"><i class="flaticon-car"></i> Авто и мото</li>
        <li routerLink="/category/8"><i class="flaticon-diamond"></i> Ювелирные украшения</li>
        <li routerLink="/category/9"><i class="flaticon-watch"></i> Бижутерия и часы</li>
        <li routerLink="/category/10"><i class="flaticon-computer"></i> Компьютерная техника и ПО</li>
        <li routerLink="/category/11"><i class="flaticon-briefcase"></i> Сумки и чемоданы</li>
        <li routerLink="/category/12"><i class="flaticon-home"></i> Дом и сад</li>
        <li routerLink="/category/13"><i class="flaticon-washing-machine"></i> Электроника</li>
      </ul>
      <div class="lef-banner" [routerLink]="['/product/8']">
        <img src="assets/img/demo.jpg" alt="">
        <div class="banner-btn">Подробней</div>
      </div>
      <div class="right-banner">
        <img src="assets/img/demo2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<br>

<section class="baners">
  <div class="container">
    <div class="bb-d">
      <div class="banner-d banner1" style="background: url(assets/img/b1.jpg) center center/cover no-repeat;">
        <div class="banner-btn">Подробней</div>
      </div>
      <div class="banner-d banner2" style="background: url(assets/img/b2.jpg) center center/cover no-repeat;">
        <div class="banner-btn">Подробней</div>
      </div>
    </div>
  </div>
</section>


<section class="product-category">
  <div class="container">
    <h1>Женская одежда и аксессуары</h1>

    <div class="p-c-body">
      <div class="pp-ban">
        <img src="assets/img/baner1.jpg" height="400" alt="">
      </div>
      <div class="p-c-products">
        <div class="item" *ngFor="let i of cat" routerLink="/product/{{i.id}}">
          <p>{{i.price}} тг.</p>
          <img src="assets/img/d.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="product-category">
  <div class="container">
    <h1>Электроника</h1>

    <div class="p-c-body">
      <div class="pp-ban">
        <img src="assets/img/baner2.jpg" height="400" alt="">
      </div>
      <div class="p-c-products">
        <div class="item" *ngFor="let i of Arr(num).fill(1)">
          <p>300000 тг.</p>
          <img src="assets/img/dd.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->