<section class="breads">
  <div class="container">
    <ul>
      <li>Смотреть все категории   ></li>
      <li><b>Новые поступления</b></li>
      <li><b>Горячие товары</b></li>
      <li><b>Часто покупаемые товары</b></li>
    </ul>
  </div>
</section>


<section class="body">
  <div class="container">
    <div class="body-top">
      <ul class="left-nav">
        <li>Женская одежда и аксессуары</li>
        <li>Мужская одежда и аксессуары</li>
        <li>Телефоны и телекомуникации</li>
        <li>Мамам и малышам</li>
        <li>Авто и мото</li>
        <li>Ювелирные украшения</li>
        <li>Бижутерия и часы</li>
        <li>Компьютерная техника и ПО</li>
        <li>Сумки и чемоданы</li>
        <li>Дом и сад</li>
        <li>Электроника</li>
      </ul>
      <div class="lef-banner">
        <img src="assets/img/demo.jpg" alt="">
        <div class="banner-btn">Подробней</div>
      </div>
      <div class="right-banner">
        <img src="assets/img/demo2.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="body-c">
  <div class="container">
    <ul>
      <li>
        <p>Техника</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
      <li>
        <p>Спорт</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
      <li>
        <p>Детям</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
      <li>
        <p>Стиль</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
      <li>
        <p>Красота</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
      <li>
        <p>Дом</p>
        <img src="assets/img/demo3.jpg" alt="">
      </li>
    </ul>
  </div>
</section>


<section class="baners">
  <div class="container">
    <div class="bb-d">
      <div class="banner-d banner1" style="background: url(assets/img/b1.jpg) center center/cover no-repeat;">
        <div class="banner-btn">Подробней</div>
      </div>
      <div class="banner-d banner2" style="background: url(assets/img/b2.jpg) center center/cover no-repeat;">
        <div class="banner-btn">Подробней</div>
      </div>
    </div>
  </div>
</section>


<section class="product-category">
  <div class="container">
    <h1>Игрушки и роботы</h1>

    <div class="p-c-body">
      <div class="pp-ban">
        <img src="assets/img/baner1.jpg" height="400" alt="">
      </div>
      <div class="p-c-products">
        <div class="item" *ngFor="let i of Arr(num).fill(1)">
          <p>300000 тг.</p>
          <img src="assets/img/dd.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product-category">
  <div class="container">
    <h1>Электроника</h1>

    <div class="p-c-body">
      <div class="pp-ban">
        <img src="assets/img/baner2.jpg" height="400" alt="">
      </div>
      <div class="p-c-products">
        <div class="item" *ngFor="let i of Arr(num).fill(1)">
          <p>300000 тг.</p>
          <img src="assets/img/dd.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>