<section class="head">
  <div class="container">
    <div class="header-top row">
      <p>Доставка по всему Казахстану</p>
      <ul>
        <li>Карта МЦПС “Хоргос”</li>
        <li>Защита покупателя</li>
        <li>Программа возврата</li>
        <li class="arrow">Помощь</li>
        <li class="arrow">KZT</li>
        <li class="arrow">Язык</li>
      </ul>
    </div>
  </div>
</section>

<section class="header">
  <div class="container">
    <div class="header-bottom row">
      <div class="header-left">
        <a class="header-logo" [routerLink]="['']">
          <img src="../assets/img/logo.png" alt="">
        </a>
      </div>
      <div class="header-right" *ngIf="this.app.checkAuth()">
        <div class="nav-cart nav-cart-box">
          <a routerLink="/basket">
            <span class="text hidden-sm">Корзина</span>
          </a>
          <span class="cart-number" id="nav-cart-num">{{this.app.basket}}</span>
        </div>
        <div class="nav-cart nav-wishlist">
          <a>
            <span class="text hidden-sm">Избранное</span>
          </a>
          <span class="cart-number" id="nav-cart-num">0</span>
        </div>
        <div class="login-register">
          <img src="assets/img/man.png" alt="">
          <p><b>Привет, {{this.app.getUser().first_name}}</b> <br><span class="arrow">Мой аккаунт</span></p>

          <div class="my-acc">
            <ul>
              <li (click)="onLogOut()">Выйти</li>
              <li [routerLink]="['/settings']">Личный кабинет</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header-right" *ngIf="!this.app.checkAuth()">
        <div class="nav-cart nav-cart-box">
          <a routerLink="/login">
            <span class="text hidden-sm">Корзина</span>
          </a>
          <span class="cart-number" id="nav-cart-num">0</span>
        </div>
        <div class="nav-cart nav-wishlist">
          <a href="#">
            <span class="text hidden-sm">Избранное</span>
          </a>
          <span class="cart-number" id="nav-cart-num">0</span>
        </div>
        <div class="login-register" [routerLink]="['/login']" *ngIf="!this.app.checkAuth()">
          <img src="assets/img/man.png" alt="">
          <p><b>Войти</b> или Регистрация <br><span class="arrow">Мой аккаунт</span></p>
        </div>
      </div>

      <div class="header-middle">
        <div class="header-search">
          <form action="">
            <div class="search-content">
              <div class="inner">
                <input type="text" placeholder="Я ищу..." [(ngModel)]="SearchText" name="SearchText">
              </div>
            </div>
            <div class="search-category">
              <select [(ngModel)]="SelectCat" name="SelectCat">
                <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
              </select>
            </div>
            <button type="submit" (click)="searchByCat()"></button>
          </form>
          <div class="key-word-search">
            <span class="title-key">Самые популярные:</span>
            <div class="listkey-word">
              <a href="" class="key-item"> Galaxy S9 </a>
              <a href="" class="key-item"> IPhone X </a>
              <a href="" class="key-item"> рыбалка </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet>
</router-outlet>

<section class="footer">
  <div class="container">
    <h1><img src="assets/img/subscribe.png" alt=""> Подпишись на новости</h1>
    <input type="email" placeholder="Введите ваш действующие Email адрес...">
    <hr>
    <img src="assets/img/bottom-info.jpg" alt="">
  </div>
</section>

<section class="footer-bot">
  <div class="container">© 2018 NewStore Все права защищены.</div>
</section>