<section class="header">
  <div class="container">
    <div class="header-top row">
      <p>Доставка по всему Казахстану</p>
      <ul>
        <li>Карта МЦПС “Хоргос”</li>
        <li>Защита покупателя</li>
        <li>Программа возврата</li>
        <li class="arrow">Помощь</li>
        <li class="arrow">KZT</li>
        <li class="arrow">Язык</li>
      </ul>
    </div>
    <div class="header-bottom row">
      <div class="header-left">
        <h1 class="header-logo" [routerLink]="['']">
          KHOREX
        </h1>
      </div>
      <div class="header-right">
        <div class="nav-cart nav-cart-box">
          <a href="#">
            <span class="text hidden-sm">Корзина</span>
          </a>
          <span class="cart-number" id="nav-cart-num">(10)</span>
        </div>
        <div class="nav-cart nav-wishlist">
          <a href="#">
            <span class="text hidden-sm">Избранное</span>
          </a>
          <span class="cart-number" id="nav-cart-num">(10)</span>
        </div>
        <div class="login-register" [routerLink]="['/login']">
          <img src="assets/img/man.png" alt="">
          <p><b>Войти</b> или Регистрация <br><span class="arrow">Мой аккаунт</span></p>
        </div>
      </div>
      <div class="header-middle">
        <div class="header-search">
          <div class="search">
            <input type="text">
            <span class="allC">Все категории</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<section class="footer">
  <div class="container">
    <h1><img src="assets/img/subscribe.png" alt=""> Подпишись на новости</h1>
    <input type="email" placeholder="Введите ваш действующие Email адрес...">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non beatae maxime iste, inventore repudiandae distinctio neque similique eius obcaecati consequuntur, natus dignissimos quis ab! Quae sit tenetur impedit minima ipsum.</p>
  </div>
</section>

<section class="footer-bot">
  <div class="container">© 2018 NewStore Все права защищены.</div>
</section>