<div class="row">
	<h1>Смена пароля</h1>

	<form #form="ngForm" (ngSubmit)="onChangePassword()">
		<div class="control-group">
			<label class="control-label" for="old_password">Старый пароль </label>
			<div class="controls">
				<input type="password" name="old_password" id="old_password" autocomplete="off"  [(ngModel)]="old_password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_password">Новый пароль</label>
			<div class="controls">
				<input type="password" name="new_password" id="new_password" autocomplete="off"  [(ngModel)]="new_password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="confirm_password">Подтвердите пароль</label>
			<div class="controls">
				<input type="password" name="confirm_password" id="confirm_password" autocomplete="off"  [(ngModel)]="confirm_password">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="confirm_password"></label>
			<div class="controls">
				<button class="btn" type="submit">Изменить пароль</button>
			</div>
		</div>
	</form>
</div>