<section class="about">
	<div class="breads">
		<div class="container">
			<span routerLink="/" style="cursor: pointer;">Главная</span> > Защита покупателя
		</div>
	</div>
	<div class="container">
		<h1>Защита покупателя</h1>

		<div class="about-img">
			<img src="assets/img/demo10.jpg" alt="">
		</div>
		
		<div class="row">
			<div class="c">
				<h2>Защита Покупателя</h2>
				<p>Добро пожаловать в Центр защиты покупателей Khorex. Мы работаем для того, чтобы совершать покупки было легко и просто. Если у вас возникли проблемы с заказом, просто дайте нам знать.</p>
			</div>
			<div class="c">
				<h2>Защита Покупателя</h2>
				<p>Добро пожаловать в Центр защиты покупателей Khorex. Мы работаем для того, чтобы совершать покупки было легко и просто. Если у вас возникли проблемы с заказом, просто дайте нам знать.</p>
			</div>
		</div>
	</div>
</section>

<section class="info">
	<div class="container">
		<div class="threeb">
			<img src="assets/img/cart.png" alt="">
			<h3>More than 2000 + items</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/man.png" alt="">
			<h3>1.5 Millions User</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
		<div class="threeb">
			<img src="assets/img/heart.png" alt="">
			<h3>98% Customer Feeback</h3>
			<p>Radable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
		</div>
	</div>
</section>