<section class="basket">
	<div class="breads">
		<div class="container">
			<span routerLink="/" style="cursor: pointer;">Главная</span> > Ваша корзина ({{this.app.basket}} товара(ов))
		</div>
	</div>
	<div class="container ">
		<div class=" add-info">
			<h1 class="d-f">
				Адрес доставки товаров
			</h1>
			<div class="clear">
				<div class="control-group">
					<label class="control-label" for="first_name">Выберите адрес доставки</label>
					<div class="controls" *ngIf="addresses">
						<select name="" id="" [(ngModel)]="selectedAddress" (change)="getAddress(selectedAddress)">
							<option *ngFor="let a of addresses" [value]="a.id">{{a.first_name}} {{a.second_name}}</option>
						</select>
					</div>
				</div>
				<div class="btn p-r" [routerLink]="['/settings/account/addAddress']">Добавить новый адрес</div>
			</div>
			
			<div class="address-b" *ngIf="address">
				<div class="control-group">
					<label class="control-label" for="first_name">Имя <br> получателя</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="first_name" id="first_name" autocomplete="off"  [(ngModel)]="address.first_name">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="second_name">Фамилия <br> получателя</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="second_name" id="second_name" autocomplete="off"  [(ngModel)]="address.second_name">
					</div>
				</div>

			 	<div class="control-group">
					<label class="control-label" for="address_additional">Страна</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="address_additional" id="address_additional" autocomplete="off"  [(ngModel)]="address.address_additional">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="region">Область</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="region" id="region" autocomplete="off"  [(ngModel)]="address.region">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="zip_code">Почтовый код</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="zip_code" id="zip_code" autocomplete="off"  [(ngModel)]="address.zip_code">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="city">Город</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="city" id="city" autocomplete="off"  [(ngModel)]="address.city">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="address">Адрес (дом, улица)</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="address" id="address" autocomplete="off"  [(ngModel)]="address.address">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="mobile_phone">Контактный номер телефона</label>
					<div class="controls">
						<input readonly="readonly" type="text" name="mobile_phone" id="mobile_phone" autocomplete="off"  [(ngModel)]="address.mobile_phone">
					</div>
				</div>

			</div>
		</div>

		<div class="basket-info">
			<h2><b>Ваш заказ</b></h2>
			<hr>
				<p *ngFor="let item of basket"><b>{{item.count}}</b> x {{item.product.name}} <b>{{item.product.price * item.count}} тг.</b></p>
			<hr>
			<p>Сумма ({{total.count}} товара(ов)): <b>{{total.totalPrice}} тг.</b> </p>
			<p>Стоимость доставки: 0 тг.</p>
			<hr>
			<h3>ОБЩАЯ СУММА: <b style="color: #ff2f39;">{{total.totalPrice}} тг.</b></h3><br>
			<div class="t-c">
				<div class="btn" (click)="confirmOrder()">Оформить заказ</div>
			</div>
		</div>
	</div>
</section>